# TMDB API
NEXT_PUBLIC_TMDB_API_KEY=3ac40a1825a427df09141f0759960867

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://mmyqinzuozxvlomjcizw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_PK6HjdJeyJv0jBn6D1ecVg_8lY5Uo1u
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000